@import "lunify.less";

// Page layouts
.tilegrid {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;

	&.mod-fullpage {
		margin:@lu-gap @lu-gap 0;

		.tile {
			@media @mq-3col {
				.tile.mod-shortwide;
			}
		}
	}
}

// Components
.tile {
	position:relative;

	width: @lu-col2;
	margin-bottom: @lu-gap;

	height:@lu-col2 * 9/16;
	overflow:hidden;

	background:#eee;
	background-size:cover;
	background-position:center center;

	&.mod-shortwide {
		width:@lu-col3;
		height:@lu-col1;
	}
}
.tile-content {
	position:absolute;
	bottom:0;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(fade(black,0)), to(black));
	color:white;
	padding:1rem 0.75rem 0.5rem;
	width:100%;
}
.tile-date {
	display:block;
	text-transform: uppercase;
	font-weight: 700;
	font-size:0.5em;
	line-height: 2em;
	opacity:0.75;
}
.tile-title {
	display:block;
	font-size:1.5em;
	max-height:2.5em;
	overflow:hidden;
}
.tile-byline {
	display:block;
	opacity:0.5;
	max-height:2.5em;
	overflow:hidden;
}